QPushButton{
    background-color: white;
    padding: 5%;
    padding-top: 20%;
    padding-bottom: 20%;

    border-width: 1%;
    border-color: black;
    border-style: solid;
    font-size: 15px;
    
}

QLineEdit{
    padding-top: 20%;
    padding-bottom: 20%;
}